<a class="hdr-logo-link" href="{{site.url}}" rel="home">
    <img width="180" height="auto" src="https://findaclub.com.au/wp-content/uploads/2024/12/findaclubcomau-high-resolution-logo-transparent.png" class="img-fluid" alt="findaclub.com.au logo" decoding="async" srcset="https://findaclub.com.au/wp-content/uploads/2024/12/findaclubcomau-high-resolution-logo-transparent.png 2000w, https://findaclub.com.au/wp-content/uploads/2024/12/findaclubcomau-high-resolution-logo-transparent-300x55.png 300w, https://findaclub.com.au/wp-content/uploads/2024/12/findaclubcomau-high-resolution-logo-transparent-1024x189.png 1024w, https://findaclub.com.au/wp-content/uploads/2024/12/findaclubcomau-high-resolution-logo-transparent-768x142.png 768w, https://findaclub.com.au/wp-content/uploads/2024/12/findaclubcomau-high-resolution-logo-transparent-1536x283.png 1536w" sizes="(max-width: 2000px) 100vw, 2000px">
</a>

<p class="text-grey">
{{ site.description }}
</p>

<small class="text-grey">&copy; {{"now"|date('Y')}} | <a href="{{ site.url }}">{{ site.title }}</a></small>