{% if menu %}
	<ul class="primary-nav">
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a class="{{ item.children|length > 0 ? 'dropdown' : '' }}" target="{{ item.target }}" href="{{ item.children|length > 0 ? '#': item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
